.card-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.card-big-container {
  width: 250px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.75s ease;
  border-radius: 12px;
}

.is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  color: #333;
  border-radius: 12px;
}
.calamari {
  background: url(img/calamari.jpg);
  background-position: center center;
  background-size: cover;
}

.grilled-crusted-shrimp {
  background: url(img/grilled-crusted-shrimp.jpg);
  background-position: center center;
  background-size: cover;
}
.kc-sliders {
  background: url(img/kc-sliders.jpg);
  background-position: center center;
  background-size: cover;
}

.tuna-tacos {
  background: url(img/tuna-tacos.jpg);
  background-position: center center;
  background-size: cover;
}

.baby-arugula {
  background: url(img/baby-arugula.jpg);
  background-position: center center;
  background-size: cover;
}

.kc-burger {
  background: url(img/kc-burger.jpg);
  background-position: center center;
  background-size: cover;
}

.chilled-seafood {
  background: url(img/chilled-seafood.jpg);
  background-position: center bottom;
  background-size: cover;
}
.cowboy {
  background: url(img/Screenshot_20220123-220532_Instagram.jpg);
  background-position: center center;
  background-size: cover;
}

.swordfish {
  background: url(img/swordfish.jpg);
  background-position: center center;
  background-size: cover;
}

.surf-and-turf {
  background: url(img/surf-and-turf.jpg);
  background-position: center center;
  background-size: cover;
}

.red-snapper {
  background: url(img/red-snapper.jpg);
  background-position: center center;
  background-size: cover;
}

.ny-strip {
  background: #252525;
  background-position: center center;
  background-size: cover;
}
.lamb-chops {
  background: url(img/lamb-chops.jpg);
  background-position: center center;
  background-size: cover;
}

.half-roasted-chicken {
  background: url(img/half-roasted-chicken.jpg);
  background-position: center center;
  background-size: cover;
}

.back > p {
  max-width: 90%;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #252525;
  color: hsl(var(--clr-light));
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-big-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-big-container > div {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-container {
  display: none;
}
.menu-container.active {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 2em;
}

.menu-tab {
  cursor: pointer;
}

.menu-tab:hover {
  background-color: #f59c2f;
}

.menu-tab.active {
  background-color: #f59c2f;
}

.menu-title-section {
  display: flex;
  justify-content: center;
  padding-top: 4em;
}

.menu-title {
  font-size: 3rem;
}

.menu-tab-container {
  margin-top: 1.25em;
  display: flex;
  flex-wrap: nowrap;
  background-color: lightgray;
  width: max-content;
}

.menu-tab {
  border: 1px solid grey;
  width: max-content;

  white-space: nowrap;
}

.menu-tab > * {
  padding: 0.35em 1em;
}

.img-click-message {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.specials-message {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  display: none;
  margin: 0;
}

@media (max-width: 40em) {
  .card-big-container {
    width: 160px;
  }
  .card-big-container > div {
    max-width: 160px;
    min-height: 44px; /* do something about alignment when there are more lines to the text*/
  }

  .specials-message {
    text-align: center;
  }

  .specials-message > p {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .menu-tab-container {
    max-width: 90vw;
    overflow-x: auto;
  }

  .menu-tab-container::-webkit-scrollbar {
    border-radius: 20px;
    margin-top: 5px;
    height: 7px;
    width: 2px;
    background-color: hsla(var(--clr-burgundy), 0.1);
    border: 1px solid hsla(var(--clr-burgundy), 0.9);
  }

  /* .menu-tab::-webkit-scrollbar-track {
    
  } */

  .menu-tab-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d17911;
    outline: 1px solid #d17911;
  }

  /* need to play around with different values for this, also don't forget about .menu-container  padding */
  .card-container {
    width: 160px;
    height: 160px;
  }
}
