.card-container {
  position: relative;
  width: 250px;
  height: 250px;
  
  /* background: green; */
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.75s ease;
  background: yellow;
  border-radius: 12px;
}

.is-flipped {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #333;
  border-radius: 12px;
  background: url(Screenshot_20220123-220532_Instagram.jpg);
  background-position: center center;
  background-size: cover;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #252525;
  color: hsl(var(--clr-light));
  transform: rotateY(180deg);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-big-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 4em;
}

