:root {
    --clr-light: 51.4,20%,93.1%;
    --clr-burgundy: 359.3,84.3%,20%;
}

html {
    min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
    background-color: hsl(var(--clr-light));
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
    
}

/* header */
header {
  position: sticky;
}
.logo {
    width: 119px;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


section.top {
  min-height: 500px; 
  background-image: url(29.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  
  
}

.mobile-nav-toggle {
  display: none;
}
.nav-container a {
  text-decoration: none;
  color: hsl(var(--clr-light));
  font-weight: 700;
}

.nav-container ul {
  list-style: none;
}
@media (max-width: 40em) {
  header {
    display: flex;
    align-items: center;
    background-color: hsla(var(--clr-burgundy), 0.7);
    padding-bottom: 0.75em;
  }
  .logo {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 1em;
    /* position: absolute; */
    left: 0.5em;
    top: 0.5em;

  }
  .mobile-nav-toggle {
    padding: 0;
    margin-bottom: 10px;
    margin-right: 1.125em;
    display: block;
    /* position: absolute; */
    z-index: 2000;
    /* right: 1em;
    top: 1.5em; */
    background: transparent;
    border: 0;
    background-image: url(icon-hamburger.svg);
    background-size:1.5rem;
   
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    
  }

  .nav-container {
  position: fixed;
  top: 100px;
  background-color: hsla(var(--clr-light),0.1);
  inset: 0 0 0 100%;
  backdrop-filter: blur(1rem);
  
  }
@keyframes nav-slide-in {
  0% {inset: 0 0 0 100%;}
  100% {inset: 0 0 0 35%;}
}
  .nav-container[data-visible="true"] {
    animation-name: nav-slide-in;
    animation-duration: .5s;
    inset: 0 0 0 35%;}
  }


  @keyframes nav-slide-out {
    0% {inset: 0 0 0 35%;}
    100% {inset: 0 0 0 100%;}
  }
  .nav-container[data-visible="false"] {
    animation-name: nav-slide-out;
    animation-duration: .5s;
    inset: 0 0 0 100%;}
  

  

  .nav-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6em;
    
  }
  .nav-container ul > li {
    padding: 0.5em 0;
  }
  

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }






section.kc-sentence {
  flex:1;
  padding: 7em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kc-sentence > h2 {
  padding-bottom: .5rem;
}

p {
  max-width: 55ch;
}

.second-pic {
  min-height: 300px;
  background-image: url(19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.kc-info {
  flex: 1;
}
@media (min-width: 40em) {
}